// Header, Content, Footer sizes and margins
$header-height-mobile: 48px;
$header-height-desktop: 64px;

$content-margin-default: 24px;
$content-margin-layout-mobile: 72px 24px;
$content-margin-layout-desktop: 88px 24px 24px 24px;

$footer-height-mobile: 48px;
