// Color palette
$primary-color: #a869bf; // Replaces #6366F1
$primary-color-dark: #924d87;
$primary-color-hover: #965ea8; // Replaces 4338CA
$primary-color-focus: #9057a8;
$secondary-color: #717171;

$box-default-border: #dddddd;

// Header, Content, Footer sizes and margins
$header-height-mobile: 48px;
$header-height-desktop: 64px;

$content-margin-default: 24px;
$content-margin-layout-mobile: 72px 24px;
$content-margin-layout-desktop: 88px 24px 24px 24px;

$footer-height-mobile: 48px;

$page-margin-mobile: 0 16px;
$page-margin-desktop: 0 160px;
