.icon-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-button.no-label {
  span {
    display: none;
  }
}
