@import './../../../utils/styles/variables';

.add-button {
  position: fixed;
  bottom: calc(#{$footer-height-mobile} + 20px);
  right: 20px;
  z-index: 1000;
  background-color: white !important;
  opacity: 1 !important;
}

@media only screen and (min-width: 768px) {
  .add-button {
    bottom: 20px;
  }
}
